<header>
    <div class="header">
        <img src="/images/logo.png" alt="" class="logo" />
        <div class="search">
            <div class="search-box">
                <div class="search-field">
                    <input placeholder="Search..." class="input" type="text">
                    <div class="search-box-icon">
                        <button class="btn-icon-content">
                            <i class="search-icon">
                                <svg xmlns="://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                                    <path
                                        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                                        fill="#fff"></path>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_nav">
        <a href="/home" class="header__nav__link">
            <svg width="37px" height="37px" stroke-width="3" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg" color="#FFFFFF">
                <path
                    d="M17 21H7C4.79086 21 3 19.2091 3 17V10.7076C3 9.30887 3.73061 8.01175 4.92679 7.28679L9.92679 4.25649C11.2011 3.48421 12.7989 3.48421 14.0732 4.25649L19.0732 7.28679C20.2694 8.01175 21 9.30887 21 10.7076V17C21 19.2091 19.2091 21 17 21Z"
                    stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M9 17H15" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                </path>
            </svg>
            <span>Home</span>
        </a>
        <a href="/login" class="header__nav__link">
            <div class="user-profile-inner">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g data-name="Layer 2" id="Layer_2">
                        <path
                            d="m15.626 11.769a6 6 0 1 0 -7.252 0 9.008 9.008 0 0 0 -5.374 8.231 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 9.008 9.008 0 0 0 -5.374-8.231zm-7.626-4.769a4 4 0 1 1 4 4 4 4 0 0 1 -4-4zm10 14h-12a1 1 0 0 1 -1-1 7 7 0 0 1 14 0 1 1 0 0 1 -1 1z">
                        </path>
                    </g>
                </svg>
                <p>Log In</p>
            </div>
        </a>
        <button data-quantity="0" class="btn-cart">
            <svg class="icon-cart" viewBox="0 0 24.38 30.52" height="30.52" width="24.38"
                xmlns="http://www.w3.org/2000/svg">
                <title>cart</title>
                <path transform="translate(-3.62 -0.85)"
                    d="M28,27.3,26.24,7.51a.75.75,0,0,0-.76-.69h-3.7a6,6,0,0,0-12,0H6.13a.76.76,0,0,0-.76.69L3.62,27.3v.07a4.29,4.29,0,0,0,4.52,4H23.48a4.29,4.29,0,0,0,4.52-4ZM15.81,2.37a4.47,4.47,0,0,1,4.46,4.45H11.35a4.47,4.47,0,0,1,4.46-4.45Zm7.67,27.48H8.13a2.79,2.79,0,0,1-3-2.45L6.83,8.34h3V11a.76.76,0,0,0,1.52,0V8.34h8.92V11a.76.76,0,0,0,1.52,0V8.34h3L26.48,27.4a2.79,2.79,0,0,1-3,2.44Zm0,0">
                </path>
            </svg>
            <span class="quantity"></span>
        </button>
    </div>
</header>