<div class="form-page d-flex justify-content-center align-items-center vh-100 mt-5">
  <div class="card p-4 shadow-lg custom-card">
    <h2 class="text-center mb-4">User Verification</h2>
    <div class="text-center mb-3">
      <span class="badge bg-primary fs-6">Tempo rimasto: {{ countdown }}</span>
    </div>
    <form>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Insert Your Email" [(ngModel)]="email" name="email">
      </div>

      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Insert Your Password" [(ngModel)]="password" name="password">
      </div>

      <div class="mb-3">
        <label for="inputCode" class="form-label">Verification Code</label>
        <input type="text" class="form-control" id="inputCode" placeholder="Insert Your Code" [(ngModel)]="code" name="code">
      </div>

      <div class="mb-3">
        <label for="inputFullName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="inputFullName" placeholder="Insert Full Name" [(ngModel)]="fullname" name="fullname">
      </div>

      <div class="d-grid">
        <button type="button" class="btn btn-success btn-lg" (click)="checkCredentials()">Submit</button>
      </div>
    </form>
  </div>
</div>
