.footer {
    background-color: #000000;
    color: #fff;
    padding: 3rem 1rem 1.5rem;
    border-top: 1px solid #0a2540;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 50px   ;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.footer-section h2.logo {
    font-size: 1.75rem;
    font-weight: bold;
    color: #3399ff;
}

.footer-section h3 {
    font-size: 1.125rem;
    color: #4a90e2;
    margin-bottom: 0.75rem;
}

.footer-section p.description {
    color: #a0aec0;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    max-width: 500px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #3399ff;
}

/* From Uiverse.io by javierBarroso */ 
.social-login-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #ffffff96;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}




/* Responsive */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social a {
        display: inline-block;
        margin: 0 0.5rem 0.5rem;
    }

    .social-login-icons{
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
}