.imgHeader {
  background: url('../../../assets/images/Header.jpg');
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sigla {
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 150px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
  font-family: monospace;
  opacity: 0;
  animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, 50%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
    text-shadow: 20px 20px 40px #000000;
  }
}

.slogan {
  position: absolute;
  top: 88%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
  font-family: monospace;
  opacity: 0;
  animation: slideUp2 1s ease-out forwards;
}

@keyframes slideUp2 {
  0% {
    transform: translate(-50%, 50%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
    text-shadow: 20px 20px 40px #000000;
  }
}

.carousel {
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.bg-slide-1 {
  background-image: url('../../../assets/images/car01.jpg');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 115px;
}

.bg-slide-2 {
  background-image: url('../../../assets/images/car02.jpg');
  height: 80vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 115px;
}

.bg-slide-3 {
  background-image: url('../../../assets/images/car03.jpg');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 115px;
}

.bg-slide-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Opacità 40% */
  z-index: 2;
}

.bg-slide-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Opacità 40% */
  z-index: 2;
}

.bg-slide-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Opacità 40% */
  z-index: 2;
}

.titleStart {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
  font-family: monospace;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-underline-position: under;

}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  overflow: visible;
  width: 290px;
  height: 354px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.imgCard1 {
  background-image: url('../../../assets/images/mount.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.imgCard2 {
  background-image: url('../../../assets/images/street.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.imgCard3 {
  background-image: url('../../../assets/images/touring.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 30px;
  }


  .bg-slide {
    height: 80vh;
  }

  .titleStart {
    font-size: 24px;
  }

  .sigla {
    font-size: 50px;
    left: 120px;
  }

  .imgHeader {
    min-height: 100vh;
  }
}