<div class="container-fluid imgHeader">
    <div class="row">
        <div class="col-12">
            <div>
                <div class="sigla display-1">RIDEWILD</div>
            </div>
        </div>
    </div>
</div>

<div class="container" data-aos="fade-up-right">
    <div class="row">
        <div class="col-12 titleStart">
            <h1 class="text-center">Welcome to Ride Wild <span *ngIf="fullname">{{fullname}}</span></h1>
            <p class="text-center">Explore our collection!</p>
        </div>
    </div>
</div>

<div class="container-fluid cardContainer">
    <div class="row">
        <div class="col-md-4 col-12 px-5" data-aos="fade-up" data-aos-delay="200"
            data-aos-anchor-placement="bottom-bottom">
            <div class="card">
                <div class="content">
                    <div class="back">
                        <div class="back-content imgCard1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" fill="currentColor"
                                class="bi bi-bicycle" viewBox="0 0 16 16">
                                <path
                                    d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5m1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139zM8 9.057 9.598 6.5H6.402zM4.937 9.5a2 2 0 0 0-.487-.877l-.548.877zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53z" />
                            </svg>
                            <strong>Mountain</strong>
                        </div>
                    </div>
                    <div class="front">

                        <div class="img">
                            <div class="circle">
                            </div>
                            <div class="circle" id="right">
                            </div>
                            <div class="circle" id="bottom">
                            </div>
                        </div>

                        <div class="front-content">
                            <small class="badge">Mountain Bike</small>
                            <div class="img1"></div>
                            <div class="description">
                                <div class="title">
                                    <p class="title">
                                        <strong>Ride Wild</strong>
                                    </p>

                                    <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                        <g style="mix-blend-mode: normal" text-anchor="none" font-size="none"
                                            font-weight="none" font-family="none" stroke-dashoffset="0"
                                            stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter"
                                            stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero"
                                            fill="#20c997">
                                            <g transform="scale(8,8)">
                                                <path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 px-5" data-aos="fade-up" data-aos-delay="600"
            data-aos-anchor-placement="bottom-bottom">
            <div class="card">
                <div class="content">
                    <div class="back">
                        <div class="back-content imgCard2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" fill="currentColor"
                                class="bi bi-bicycle" viewBox="0 0 16 16">
                                <path
                                    d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5m1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139zM8 9.057 9.598 6.5H6.402zM4.937 9.5a2 2 0 0 0-.487-.877l-.548.877zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53z" />
                            </svg>
                            <strong>Road</strong>
                        </div>
                    </div>
                    <div class="front">

                        <div class="img">
                            <div class="circle">
                            </div>
                            <div class="circle" id="right">
                            </div>
                            <div class="circle" id="bottom">
                            </div>
                        </div>

                        <div class="front-content">
                            <small class="badge">Road Bike</small>
                            <div class="img2"></div>
                            <div class="description">
                                <div class="title">
                                    <p class="title">
                                        <strong>Ride Wild</strong>
                                    </p>
                                    <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                        <g style="mix-blend-mode: normal" text-anchor="none" font-size="none"
                                            font-weight="none" font-family="none" stroke-dashoffset="0"
                                            stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter"
                                            stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero"
                                            fill="#20c997">
                                            <g transform="scale(8,8)">
                                                <path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 px-5" data-aos="fade-up" data-aos-delay="1000"
            data-aos-anchor-placement="bottom-bottom">
            <div class="card">
                <div class="content">
                    <div class="back">
                        <div class="back-content imgCard3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" fill="currentColor"
                                class="bi bi-bicycle" viewBox="0 0 16 16">
                                <path
                                    d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5m1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139zM8 9.057 9.598 6.5H6.402zM4.937 9.5a2 2 0 0 0-.487-.877l-.548.877zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53z" />
                            </svg>
                            <strong>Touring</strong>
                        </div>
                    </div>
                    <div class="front">

                        <div class="img">
                            <div class="circle">
                            </div>
                            <div class="circle" id="right">
                            </div>
                            <div class="circle" id="bottom">
                            </div>
                        </div>

                        <div class="front-content">
                            <small class="badge">Touring Bike</small>
                            <div class="img3"></div>
                            <div class="description">
                                <div class="title">
                                    <p class="title">
                                        <strong>Ride Wild</strong>
                                    </p>
                                    <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                        <g style="mix-blend-mode: normal" text-anchor="none" font-size="none"
                                            font-weight="none" font-family="none" stroke-dashoffset="0"
                                            stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter"
                                            stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero"
                                            fill="#20c997">
                                            <g transform="scale(8,8)">
                                                <path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 pt-5 text-white p-5 bg-white">
    <div class="row">
        <div class="col-12 col-md-6 slide1 d-flex align-items-start justify-content-start p-4 display-1 mediaPhoto "
            data-aos="fade-right" data-aos-delay="200">
            <div>
                <p class="textSlide">Scopri bici, accessori e tutto ciò che ti serve per le tue avventure su due ruote.
                </p>
                <button class="button" routerLink="/shop" data-text="Awesome">
                    <span class="actual-text">&nbsp;Shop&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Shop&nbsp;</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-6 slide2 d-flex align-items-start justify-content-start p-4 display-1 mediaPhoto"
            data-aos="fade-left" data-aos-delay="400">
            <div>
                <p class="textSlide">RideWild nasce dalla passione per la velocità e la libertà. Vivi con noi la cultura
                    del ciclismo.</p>
               <button class="button" routerLink="/about" data-text="Awesome">
                    <span class="actual-text">&nbsp;About&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;About&nbsp;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 slide3 d-flex align-items-start justify-content-start p-4 display-1 mediaPhoto"
            data-aos="fade-right" data-aos-delay="200">
            <div>
                <p class="textSlide">Accedi al tuo profilo per gestire gli ordini, salvare i tuoi articoli preferiti e
                    molto altro.</p>
                <button class="button" routerLink="/login" data-text="Awesome">
                    <span class="actual-text">&nbsp;Login&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Login&nbsp;</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-6 slide4 d-flex align-items-start justify-content-start p-4 display-1 mediaPhoto"
            data-aos="fade-left" data-aos-delay="400">
            <div>
                <p class="textSlide">Crea un account per accedere a offerte esclusive e vivere al massimo l’esperienza
                    RideWild.</p>
                <button class="button" routerLink="/register" data-text="Awesome">
                    <span class="actual-text">&nbsp;Register&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Register&nbsp;</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid carousel">
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active  bg-slide-1"></div>
                <div class="carousel-item  bg-slide-2"></div>
                <div class="carousel-item  bg-slide-3"></div>
            </div>
        </div>
    </div>
</div>