<div *ngIf="isLoading" class="loader">
    <svg height="0" width="0" class="absolute">
        <defs>
            <linearGradient id="b" x1="0" y1="0" x2="0" y2="64" gradientUnits="userSpaceOnUse">
                <stop offset="0%" stop-color="#973BED" />
                <stop offset="100%" stop-color="#007CFF" />
            </linearGradient>
            <linearGradient id="c" x1="0" y1="0" x2="0" y2="64" gradientUnits="userSpaceOnUse">
                <stop offset="0%" stop-color="#FFC800" />
                <stop offset="100%" stop-color="#FF00FF" />
                <animateTransform attributeName="gradientTransform" type="rotate" from="0 32 32" to="360 32 32" dur="8s"
                    repeatCount="indefinite" />
            </linearGradient>
            <linearGradient id="d" x1="0" y1="0" x2="0" y2="64" gradientUnits="userSpaceOnUse">
                <stop offset="0%" stop-color="#00E0ED" />
                <stop offset="100%" stop-color="#00DA72" />
            </linearGradient>
        </defs>
    </svg>

    <!-- R -->
    <svg viewBox="0 0 64 64" width="64" height="64" class="inline-block">
        <path stroke="url(#b)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"
            d="M 10 60 L 10 4 L 38 4 Q 54 4 54 24 Q 54 34 46 38 L 38 40 L 54 60 L 44 60 L 28 42 L 18 42 L 18 60 Z"
            class="dash" pathLength="360" />
    </svg>

    <!-- I -->
    <svg viewBox="0 0 64 64" width="64" height="64" class="inline-block">
        <path stroke="url(#b)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" d="M 32 4 L 32 60"
            class="dash" pathLength="360" />
    </svg>

    <!-- D -->
    <svg viewBox="0 0 64 64" width="64" height="64" class="inline-block">
        <path stroke="url(#b)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"
            d="M 16 8 L 16 56 Q 48 56 48 32 Q 48 8 16 8 Z" class="dash" pathLength="360" />
    </svg>

    <!-- E -->
    <svg viewBox="0 0 64 64" width="64" height="60" class="inline-block">
        <path stroke="url(#b)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none"
            d="M 10 12 H 50 V 20 H 18 V 32 H 50 V 40 H 18 V 52 H 50 V 60 H 10 Z" class="dash" pathLength="760" />
    </svg>

    <!-- W -->
    <svg viewBox="0 0 64 64" width="64" height="64" class="inline-block">
        <path stroke="url(#d)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"
            d="M 4 4 L 16 60 L 32 32 L 48 60 L 60 4" class="dash" pathLength="360" />
    </svg>

    <!-- I -->
    <svg viewBox="0 0 64 64" width="64" height="64" class="inline-block">
        <path stroke="url(#d)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" d="M 32 4 L 32 60"
            class="dash" pathLength="360" />
    </svg>

    <!-- L -->
    <svg viewBox="0 0 64 64" width="64" height="64" class="inline-block">
        <path stroke="url(#d)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"
            d="M 10 4 L 10 60 L 54 60" class="dash" pathLength="360" />
    </svg>

    <!-- D -->
    <svg viewBox="0 0 64 64" width="64" height="64" class="inline-block">
        <path stroke="url(#d)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"
            d="M 16 8 L 16 56 Q 48 56 48 32 Q 48 8 16 8 Z" class="dash" pathLength="360" />
    </svg>
</div> 



<div *ngIf="!isLoading">
    <div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="container">
                    <div class="login-box">
                        <h2>Login</h2>

                        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="input-box">
                                <input name="email" [(ngModel)]="email" required type="email" placeholder=" " />
                                <label>Email</label>
                            </div>
                            <div class="input-box">
                                <input name="password" [(ngModel)]="password" required type="password"
                                    placeholder=" " />
                                <label>Password</label>
                                <ng-container *ngIf="errorMessage" class="error-message">
                                    <div class="errore">{{ errorMessage }}</div>
                                </ng-container>
                            </div>
                            <div class="forgot-pass">
                                <a href="#">Forgot your password?</a>
                            </div>
                            <button class="btn" type="submit">Login</button>
                            <div class="signup-link">
                                <a [routerLink]="['/register']" routerLinkActive="router-link-active">Sign Up</a>
                            </div>
                        </form>
                    </div>

                    <span style="--i:0;"></span>
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:3;"></span>
                    <span style="--i:4;"></span>
                    <span style="--i:5;"></span>
                    <span style="--i:6;"></span>
                    <span style="--i:7;"></span>
                    <span style="--i:8;"></span>
                    <span style="--i:9;"></span>
                    <span style="--i:10;"></span>
                    <span style="--i:11;"></span>
                    <span style="--i:12;"></span>
                    <span style="--i:13;"></span>
                    <span style="--i:14;"></span>
                    <span style="--i:15;"></span>
                    <span style="--i:16;"></span>
                    <span style="--i:17;"></span>
                    <span style="--i:18;"></span>
                    <span style="--i:19;"></span>
                    <span style="--i:20;"></span>
                    <span style="--i:21;"></span>
                    <span style="--i:22;"></span>
                    <span style="--i:23;"></span>
                    <span style="--i:24;"></span>
                    <span style="--i:25;"></span>
                    <span style="--i:26;"></span>
                    <span style="--i:27;"></span>
                    <span style="--i:28;"></span>
                    <span style="--i:29;"></span>
                    <span style="--i:30;"></span>
                    <span style="--i:31;"></span>
                    <span style="--i:32;"></span>
                    <span style="--i:33;"></span>
                    <span style="--i:34;"></span>
                    <span style="--i:35;"></span>
                    <span style="--i:36;"></span>
                    <span style="--i:37;"></span>
                    <span style="--i:38;"></span>
                    <span style="--i:39;"></span>
                    <span style="--i:40;"></span>
                    <span style="--i:41;"></span>
                    <span style="--i:42;"></span>
                    <span style="--i:43;"></span>
                    <span style="--i:44;"></span>
                    <span style="--i:45;"></span>
                    <span style="--i:46;"></span>
                    <span style="--i:47;"></span>
                    <span style="--i:48;"></span>
                    <span style="--i:49;"></span>
                </div>
            </div>

            <div class="col-md-6 col-12 ">
                <div class="info-box">
                    Non hai ancora un account? Registrati subito per accedere a tutte le funzionalità del sito e
                    scoprire i
                    nostri servizi esclusivi.
                    Solo gli utenti registrati possono navigare liberamente, salvare i preferiti e usufruire di offerte
                    personalizzate.
                    Unisciti a noi e vivi un’esperienza completa!
                </div>
            </div>
        </div>
    </div>
</div>