@import 'bootstrap/dist/css/bootstrap.min.css';
/*reset rules*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
  background: linear-gradient(-45deg, #1e293b, #0f172a, #4b5563);
  background-size: 800% 800%;
  animation: gradientOnce 8s ease-in-out forwards;
  
}




@keyframes gradientOnce {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}



