<div class="container-fluid navbar navbar-expand-lg fixed-top"
  [ngClass]="{ 'scrolled': isScrolled, 'hide': hideNavbar }">
  <a class="logo" [routerLink]="['/home']"></a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarScroll">
    <ul class="navbar-nav">
      <div class="text-dark fw-bold fs-3 ">
        RIDEWILD 
      </div>
      <!-- Se vuoi altre voci a sinistra, mettile qui -->
    </ul>

    <ul class="navbar-nav ms-auto d-flex align-items-center gap-4">
      <li class="nav-item" *ngIf="isLoggedIn()">
        <button (click)="logout()" class="BtnLogout">
          <div class="sign"><svg viewBox="0 0 512 512">
              <path
                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
              </path>
            </svg></div>
          <div class="text">Logout</div>
        </button>
      </li>
      <li class="nav-item">
        <div routerLink="/cart" class="button">
          <div class="button-wrapper">
            <div class="textshop">Buy Now</div>
            <span class="icon">
              <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                </path>
              </svg>
            </span>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link btnLogReg" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btnLogReg" [routerLink]="['/register']">Register</a>
      </li>
    </ul>
  </div>
</div>


<div class="row w-100">
  <div class="custom-menu" [class.hide]="hideNavbar">
    <!-- Bikes -->
    <div class="menu-item">
      <span class="menu-label col-2 col-md-4">Bikes</span>
      <ul class="dropdown">
        <li><a href="#">Mountain</a></li>
        <li><a href="#">Road</a></li>
        <li><a href="#">City</a></li>
      </ul>
    </div>

    <!-- Components -->
    <div class="menu-item">
      <span class="menu-label col-2 col-md-4">Components</span>
      <ul class="dropdown">
        <li><a href="#">Drivetrain</a></li>
        <li><a href="#">Brakes</a></li>
        <li><a href="#">Wheels</a></li>
      </ul>
    </div>

    <!-- Clothings -->
    <div class="menu-item">
      <span class="menu-label col-2 col-md-4">Clothings</span>
      <ul class="dropdown">
        <li><a href="#">Jerseys</a></li>
        <li><a href="#">Shorts</a></li>
        <li><a href="#">Shoes</a></li>
      </ul>
    </div>

    <!-- Accessories -->
    <div class="menu-item">
      <span class="menu-label col-2 col-md-4">Accessories</span>
      <ul class="dropdown">
        <li><a href="#">Lights</a></li>
        <li><a href="#">Locks</a></li>
        <li><a href="#">Tools</a></li>
      </ul>
    </div>

    <!-- Best Sellers -->
    <div class="menu-item">
      <span class="menu-label col-2 col-md-4">Best.Sellers</span>
      <ul class="dropdown">
        <li><a href="#">Top Rated</a></li>
        <li><a href="#">Hot Deals</a></li>
        <li><a href="#">New Arrivals</a></li>
      </ul>
    </div>
  </div>
</div>