.logo {
  width: 100px;
  height: 65px;
  margin-left: 10px;
  background: url(../../../assets/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* From Uiverse.io by kennyotsu-monochromia */
.Btn {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--night-rider);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--af-white);
}

/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--af-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 15px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px, 2px);
}

.custom-menu {
  display: flex;
  justify-content: space-evenly;
  background-color: #222;
  padding: 10px 0;
}

.menu-item {
  position: relative;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.menu-label {
  color: white;
  text-decoration: none;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.menu-label::before {
  margin-left: auto;
}

.menu-label::after, .menu-label::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.menu-label:hover::after, .menu-label:hover::before {
  width: 100%;
}

.menu-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown {
  position: absolute;
  top: 130%;
  left: -30px;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  list-style: none;
  padding: 10px 10px;
  min-width: 200px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 100;
}

.dropdown li {
  padding: 18px 20px;
  text-align: center;
}

.dropdown li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s;
}

.dropdown li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.navbar {
  background-color: white;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* From Uiverse.io by JaydipPrajapati1910 */ 
.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  cursor: pointer;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.textshop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.textshop,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.textshop {
  top: 0
}

.textshop,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .textshop {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}



.custom-menu {
  position: fixed;
  top: 80px; 
  left: 0;
  right: 0;
  z-index: 999;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.custom-menu.hide {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .custom-menu {
    font-size: 10px;
    margin-top: 20px;
    top: 60px;
  }

  .dropdown li {
  padding: 0;
  margin: 0;
}  

.dropdown{
  min-width: 10px;  
  right: -15px;
}

.menu-label {
  padding: 10px 5px;
  display: block;
}
}
