<div class="product-card product-1">
  <div class="card">
    <div class="bg-title">Bike</div>
    <div class="image_container photo">
      <img src="images/placeholderbike.jpg" class="image">
    </div>
    <div class="content">
      <div class="title">
        <span>{{ product.name }}</span>
        <span>Code: {{ product.productNumber }}</span>
        <span>Colour: {{ product.color || 'N/D' }}</span>
      </div>
      <div class="action">
        <div class="price">€{{ product.listPrice }}</div>
        <button class="btn-buy">Details</button>
      </div>
    </div>
  </div>
</div>
